
.textcontac {
  position: relative;
}

.textcontac h1 {
  color: #a65817;
  position: absolute;
  transform: rotate(90deg);
  top: 200px;
  right: -130px;
  font-size: 95px;
  letter-spacing: -0.155em;
  font-weight: 900;
}




.barracontato {
  height: 400px;
  width: 5px;
  background-color: #ffa200;
  margin-top: -20px;
  clip-path: polygon(100% 0.2%, 0 0, 0 99.8%, 100% 100%);
}

.contatos {
  margin-top: 70px;
  padding-top: 150px;
  width: 1240px;
  height: 500px;
  background-color: #0f151d;
  clip-path: polygon(100% 15%, 0 0, 0 85%, 100% 100%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 100px;
}



.social {
  display: block;
}

article {
  margin-top: 50px;
}

article h1 {
  color: #ffa200;
  font-size: 30px;
  margin-left: 40px;
  margin-bottom: 20px;
}


article p {
    color: #ffa200;
    margin-left: 65px;
    margin-top: 20px;
}

.icones {
  width: 60px;
  margin-right: 30px;
}
.icones:hover{
    filter: brightness(1.5);
}


  /* INPUTS */
  aside {
    display: flex;
    flex-direction: column;
    margin-top: -50px;
    margin-left: 50px;
  }

aside input {
    background-color: #ffa200;
    width: 400px;
    height: 50px;
    border-radius: 10px;
    margin-top: 10px;
    border: none;
    padding-left: 10px;

  }

  aside button {
    background-color: #ffffff;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    margin-top: 10px;
    border: none;
    cursor: pointer;

  }



  aside input::placeholder {
    color: #0f151d;
  }

  .iconesMSG::placeholder {
    color: #0f151d;
    text-align:justify;
    line-height: 40px;
  }
  
   /* CONTATOS 2222222222222222222222222222222222222222222222222222222 */
  #formulario {
    background-color: #ffa200;
    height: 850px;
    display: flex;
    justify-content: center
   }

   textarea {
    background-color: #ffa200;
    width: 400px;
    height: 150px;
    border-radius: 10px;
    margin-top: 10px;
    border: none;
    padding-left: 10px;
    resize: none;


   }

   textarea::placeholder {
    color: #0f151d;
    padding-top: 10px;
    
  }

  .botaoenviar input {
    background-color: #ffffff;
    width: 200px;
    height: 40px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    text-align: center;
  }

  .barraContato {
    position: relative;
  }
  
  .barraContato img {
    position: absolute;
    height: 400px;
    left: -488px;
    top: 402px;
  }