#home {
  /* Parte SUPERIOR */
  background-repeat: no-repeat;
  background-size: 700px;
  background-position: 80% 1%;
  background-color: #0f151d;
  height: 700px;
  width: auto;
  position: relative;
}

.hyIam {
  /* Parte CONJUNTO TEXTO + FOTO */
  display: flex;
  margin-top: 150px;
  margin-right: 400px;
  color: aliceblue;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#texto {
  /* POSIÇÃO TEXTO */
  margin-top: -100px;
  font-size: 35px;
  text-align: left;
  margin-right: 300px;
}

.hyIam h2 {
  /* Parte TEXTO */
  color: #ffa200;
  line-height: 75%;
}

.hyIam h1 {
  /* Parte TEXTO */
  font-weight: 300;
  color: #ffffff;
  line-height: 150%;
}

.fotoebarra {
  /* Parte FOTO + BARRAS AMARELAS */
  position: relative;
}
.barraTop img{
      /* BARRAS AMARELAS */
    position: absolute;
    width: 700%;
    left: -113%;
    top: -270px;
  }
  
.fotoebarra .foto img {
  /* FOTO */
  z-index: 1;
  width: 350px;
  margin-left: -250px;
  margin-top: -62px;
  position: relative;

}


.baixar {
  position: relative;
}

.baixar img {
  position: absolute;
 left: -310px;
 top: 270px;
 width: 300px;
}



.baixar {
  position: relative;
  height: 310px;
  animation: deslizar 3s ease-out infinite;
}

@keyframes deslizar {
  0% {
    top: 0;
    opacity: 1;
  }
  100% {
    top: 200px;
    opacity: 0;
  }
}



/* TAMANHO MOBILE */
@media (max-width: 1256px) {
  .barraTop img {
    position: absolute;
    width: 600%;
    left: -113%;
    top: -210px;
  }
}
