@media screen and (max-width: 1280px) {
}

/* NOTEBOOK */
@media screen and (min-width: 801px) {
  .barraHOME img {
    position: absolute;
    width: 40%;
    margin-top: -33%;
    left: 50%;
  }

  .textoHomePC {
    font-size: 2vw;
  }
  .textoHomeMOBILE {
    display: none;
  }
}

/* TABLET E HORIZONTAL MOBILE */
@media screen and (max-width: 800px) {
  header {
    display: none;
  }

  .conteudoHOME img {
    /* FOTO */
    padding-top: 10vh;
    width: 35vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .SetaMovendoParaBaixo img {
    margin-top: 20px;
    width: 50%;
  }

  .textoHomePC {
    display: none;
  }

  .textoHomeMOBILE {
    padding-top: 5vw;
  }
  .conteudoHOME {
    font-size: 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .FotoFernando img {
      padding-top: 11vw;
      width: 50vw;
      z-index: 2;
  }

  .barraHOME{
    display: flex;

  }
  .barraHOME img {
    position: absolute;
    top: -10vw;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60vw;
  }
}
