@media screen and (max-width: 1280px) {
}

/* NOTEBOOK */
@media screen and (min-width: 801px) {
  .barraHOME img {
    position: absolute;
    width: 40%;
    margin-top: -32vw;
    left: 50%;
  }

  .FotoFernando img {
    margin-top: 7vw;
    width: 20vw;
    z-index: 3;
    margin-right: 20vw;
  }

  .textoHomePC {
    font-size: 2vw;
  }
  .textoHomeMOBILE {
    display: none;
  }
}

/* TABLET E HORIZONTAL MOBILE */
@media screen and (max-width: 801px) {
  .section-1 {
    max-height: 120vw;
  }

  .textoHomePC {
    display: none;
  }

  header {
    display: none;
  }

  .conteudoHOME img {
    /* FOTO */
    padding-top: 5vh;
    width: 35vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  /* SE MOVIMENTADA */
  .SetaMovendoParaBaixo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6vw;
  }
  .SetaMovendoParaBaixo img {
    width: 50%;
    animation: deslizar 2s ease-out infinite;
  }
  @keyframes deslizar {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(50px);
      opacity: 0;
    }
  }

  .textoHomeMOBILE {
    padding-top: 5vw;
  }
  .conteudoHOME {
    font-size: 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .FotoFernando img {
    padding-top: 2vw;
    width: 50vw;
    z-index: 2;
  }

  .barraHOME {
    display: flex;
    position: relative;
  }

  .barraHOME img {
    position: absolute;
    top: -10vw;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60vw;
    animation: mover 1.5s forwards;
    animation-delay: 0.7s;
    animation-fill-mode: forwards;
    opacity: 0;
  }

  @keyframes mover {
    from {
      opacity: 0;
      transform: translate(-50%, -50%) translateY(-100%);
    }
    to {
      opacity: 1;
      transform: translate(-50%, -50%) translateY(0);
    }
  }

  .conteudoHOME h1 {
    color: var(--cor-3);
    font-size: 1em;
    font-weight: 300;
    margin-bottom: 0.4vw;
    margin-right: 0.5vw;
  }

  /* SOBRE MIM */
  .nomeSOBRE {
    position: relative;
  }

  .nomeSOBRE h1 {
    position: absolute;
    width: 295px;
    height: 81px;
    left: 5vw;
    top: 5vw;
    font-weight: 900;
    font-size: 10vw;
    line-height: 90%;
    letter-spacing: -0.155em;
    color: var(--cor-3);
    transform: none;
  }

  .linhaSOBREMIM {
    position: relative;
  }

  .linhaSOBREMIM img {
    position: absolute;
    width: 120vw;
    left: -14vw;
    top: 105px;
  }

  #basedoTextoSobre {
    width: 70vw;
    height: 140vw;
    background-color: var(--cor-fundo);
    padding: 5vw;
    padding-top: 8vh;
    margin-top: 5vw;
    margin-left: 0;
    clip-path: none;
  }

  #basedoTextoSobre p {
    transform: none;
    line-height: 5vw;
    letter-spacing: 1px;
    font-size: 4vw;
    font-weight: 200;
  }

  /* GALERIA */
  .grid {
    grid-template-columns: repeat(3, 1fr) !important;
    grid-gap: 2vw !important;
  }
  .grid-item img {
    border-radius: 2vw !important;
  }
  .lightbox-img {
    border-radius: 2vw !important;
  }
  .close-btn {
    position: absolute;
    top: 1vw;
    right: 12vw;
    font-size: 10vw;
    font-weight: bold;
    color: var(--cor-3);
    cursor: pointer;
  }
  .grid-item:hover::after {
    /* TITULO AO PASSAR O MOUSE EM CIMA DA FOTO */
    display: none;
}
.grid-item span {
    /* TITULO AO PASSAR O MOUSE EM CIMA DA FOTO */
display: none;
}

.grid-item:hover span {
  display: none;
}
}




