:root {
  --cor-fundo: #101520;
  --cor-2: #121e3b;
  --cor-3: #ffa200;
  --cor-4: #ab5a00;
  --cor-5: #005b5a;
  --cor-6: #343a40;
  --cor-7: white;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Pluto";
  scroll-behavior: smooth;
}

section {
  height: 100vh;
  width: 100%;
  color: #fff;
  font-size: 3em;
  font-weight: bold;
}
.section-1 {
  height: 100vh;
  background-color: var(--cor-fundo);
}
.section-2 {
  background-color: var(--cor-fundo);
  display: flex;
  justify-content: center;
}
.section-3 {
  background-color: #00f;
}
.section-4 {
  background-color: var(--cor-2);
  height: 90vw;
}
.section-5 {
  background-color: #0ff;
}

/* CÓDIGO ANTIGO *//* CÓDIGO ANTIGO *//* CÓDIGO ANTIGO *//* CÓDIGO ANTIGO */

/* ................CABEÇALHO............... */
header {
  display: flex;
  align-items: center;
  font-size: 1.4vw;
  margin-left: 20vw;
  padding-top: 2%;
  gap: 2%;
}

header a {
  color: var(--cor-6);
  font-weight: 200;
  margin-left: 15px;
}
header a:hover {
    color: var(--cor-3);
}

.barraSeparadora {
    color: var(--cor-3);
}



/* ................HOME............... */
.conteudoHOME {
/* MOVE TODO O CONTEÚDO */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
}
/* FOTO */

.FotoFernando{
    display: flex;
}
.FotoFernando img {
    margin-top: 11vw;
    width: 17vw;
    z-index: 3;
}

/* BARRA HOME */
.barraHOME{
 display: flex;
}
.barraHOME  img {
    width: 40vw;
    margin-top: -31.8vw;
    left: 50%;
}

.SetaMovendoParaBaixo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6vw;

}
.SetaMovendoParaBaixo img {
    width: 20%;
    animation: deslizar 2s ease-out infinite;
}
@keyframes deslizar {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(50px);
      opacity: 0;
    }
  }

  

/* TEXTO HOME............................................................ */
.conteudoHOME h1 {
  color: var(--cor-3);
  font-size: 1em;
  font-weight: 300;
  margin-bottom: 0.4vw;
  margin-right: 10.5vw;
  margin-top: 6vw;
}

.conteudoHOME h2 {
    font-weight: 500;
    font-size: 1.5em;
    line-height: .7;
}

.conteudoHOME b {
    font-weight: 200;
    font-size: 1em;
    line-height: .9;
}


/* ................SOBRE MIM.............................................. */
  
  
  .sobre {
      background-color: #0f151d;
      height: 900px;
      width: auto;
      color: #ffffff;
      display: flex;
      justify-content: center;
      font-weight: 200;
    }
    
    .nomeSOBRE {
      position: relative;
    }
  
    .nomeSOBRE h1 {
      position: absolute;
      width: 295px;
      height: 81px;
      left: 680px;
      top: 120px;
      font-weight: 900;
      font-size: 95px;
      line-height: 90%;
      letter-spacing: -0.155em;
      color: #16213c;
      transform: rotate(90.13deg);
    }
    
    #basedoTextoSobre {
      width: 300px;
      height: 600px;
      background-color: #16213c;
      padding: 40px;
      padding-top: 80px;
      margin-top: 15px;
      margin-left: 390px;
      clip-path: polygon(0 15%, 100% 0, 100% 85%, 0% 100%);
    }
    
    #basedoTextoSobre p {
      transform: skewY(-15deg);
      line-height: 22pt;
      letter-spacing: 1px;
      font-size: 15px;
      font-weight: 200;
    }
    
    .linhaSOBREMIM {
      position: relative;
    }
    
    .linhaSOBREMIM img {
      position: absolute;
      width: 700px;
      right: -340px;
      top: 135px;
    }

    /* ................PORTFOLIO.............................................. */

    
@media screen and (max-width: 768px) {
    .slide {
        background-color: #0f151d;
        height: 90px;
        width: 20px;
      }
  }
  
  
  .slide {
    background-color: #0f151d;
    height: 1190px;
  }
  
  .portfolio {
    position: relative;
  }
  
  .portfolio h1 {
    position: absolute;
    width: 295px;
    height: 81px;
    left: 670px;
    top: -130px;
    font-weight: 900;
    font-size: 95px;
    line-height: 90%;
    letter-spacing: -0.155em;
    color: #16213c;
    transform: rotate(-16deg);
  }
  
  .container {
    padding: 75px 0;
    margin: 0 auto;
    width: 1140px;
  
  }
  
  .gallery-wrap {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 85vh;
  }
  
  .item {
    flex: 1;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: none;
    transition: flex 1.0s ease;
    z-index: 2;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 30px 20px -20px, rgba(0, 0, 0, 0.45) 0px 30px 20px -20px;
    filter: grayscale(4);
  }
  .item:hover {
    flex: 7;
    filter: grayscale(0);
    height: 87vh;
    transform: translateY(-1vh);
    border-radius: 5px;
  }
  
  .item-1 {
    background-image: url("../IMG/ABRIL\ FINAL\ copy.jpg");
  }
  .item-1:hover {
    flex: 6;
    transition: flex 2.0s ease;
  }
  
  .item-2 {
    background-image: url("../IMG/ANTARTICA.jpg");
  }
  .item-2:hover {
    flex: 17;
    transition: flex 3.0s ease;
  }
  
  .item-3 {
    background-image: url("../IMG/FANTA.jpg");
  }
  .item-3:hover {
    flex: 10;
    transition: flex 3.0s ease;
  }
  
  .item-4 {
    background-image: url("../IMG/LAND2.jpg");
  }
  .item-4:hover {
    flex: 25;
    transition: flex 3.0s ease;
  }
  
  .item-5 {
    background-image: url("../IMG/PAGES\ copy.jpg");
  }
  .item-5:hover {
    flex: 50;
    transition: flex 3.0s ease;
  }
  .item-6 {
    background-image: url("../IMG/Post001\ copy.jpeg");
  }
  .item-5:hover {
    transition: flex 3.0s ease;
  }
  
  
  
    /* ................SCRIPT ANIMAÇãO.............................................. */
  .box.type-1{
  position: relative;
  }
  
  .box.type-1 img {
      position: absolute;
      width: 1467px;
      right: -156px;
      top: -170px;
      z-index: 0;
  }


  .box.type-1 {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease, transform 1s ease;
  }
  
  .box.type-1-show {
    opacity: 1;
    transform: translateY(0);
  }
  
  .box.type-2 {
    opacity: 0;
    transform: translateX(-50px);
    transition: opacity 1s ease, transform 1s ease;
  }
  
  .box.type-2-show {
    opacity: 1;
    transform: translateY(0);
  }
  
  .box.type-3 {
    opacity: 0;
    transform: translateX(-50px);
    transition: opacity 1s ease, transform 1s ease;
  }
  
  .box.type-3-show {
    opacity: 1;
    transform: translateY(0);
  }

  .box.type-4 {
    opacity: 0;
    transform: translateY(-5vw);
    transition: opacity 1s ease, transform 1s ease;
  }
  
  .box.type-4-show {
    opacity: 1;
    transform: translateY(0); 
  }

  .box.type-5 {
    opacity: 0;
    transform: translateY(5vw);
    transition: opacity 1s ease, transform 1s ease;
  }
  
  .box.type-5-show {
    opacity: 1;
    transform: translateX(0); 
  }
  


  /* GALERIA.........................................................................GALERIA... */
.gallery {
  position: relative;
  padding: 2vw 15vw 2vw 15vw;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1vw;
}

.grid-item {
  overflow: hidden;
  position: relative;
}

.grid-item img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1vw;
  filter: grayscale(100%);
}
.grid-item img:hover {
  filter: none;
  cursor: zoom-in;
}

.lightbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 999;
  text-align: center;
}

.close-btn {
  position: absolute;
  top: 1vw;
  right: 12vw;
  font-size: 4vw;
  font-weight: bold;
  color: var(--cor-3);
  cursor: pointer;
}

.lightbox-img {
  max-width: 80%;
  max-height: 80%;
  margin-top: 50px;
  border: 1vw solid rgba(255, 196, 0, 0.11);
  border-radius: 1vw;
}

.lightbox.active {
  display: block;
}

.grid-item:nth-child(2) {
  grid-row: 1 / span 2;
}

.grid-item:nth-child(4) {
  grid-row: 2 / span 2;
}
.grid-item:nth-child(3) {
  grid-row: 3;
} /* GALERIA */

  