@media screen and (max-width: 1280px) {
}

/* NOTEBOOK */
@media screen and (min-width: 801px) {
  .barraHOME img {
    position: absolute;
    width: 40%;
    margin-top: -32vw;
    left: 50%;
  }

  .FotoFernando img {
    margin-top: 7vw;
    width: 20vw;
    z-index: 3;
    margin-right: 20vw;
}

  .textoHomePC {
    font-size: 2vw;
  }
  .textoHomeMOBILE {
    display: none;
  }
}

/* TABLET E HORIZONTAL MOBILE */
@media screen and (max-width: 801px) {


  .textoHomePC {
    display: none;
  }

  header {
    display: none;
  }

  .conteudoHOME img {
    /* FOTO */
    padding-top: 10vh;
    width: 35vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .SetaMovendoParaBaixo img {
    margin-top: 20px;
    width: 50%;
  }

  .textoHomeMOBILE {
    padding-top: 5vw;
  }
  .conteudoHOME {
    font-size: 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .FotoFernando img {
      padding-top: 11vw;
      width: 50vw;
      z-index: 2;
  }

  .barraHOME{
    display: flex;
    position: relative;

  }
  .barraHOME img {
    position: absolute;
    top: -10vw;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60vw;
  }

  .conteudoHOME h1 {
    color: var(--cor-3);
    font-size: 1em;
    font-weight: 300;
    margin-bottom: 0.4vw;
    margin-right: .5vw;
  }

  .section-1 {
    height: 80vh;
  background-color: var(--cor-fundo);
}

}
