

.slide {
  background-color: #0f151d;
  height: 1190px;
}

.portfolio {
  position: relative;
}

.portfolio h1 {
  position: absolute;
  width: 295px;
  height: 81px;
  left: 670px;
  top: -130px;
  font-weight: 900;
  font-size: 95px;
  line-height: 90%;
  letter-spacing: -0.155em;
  color: #16213c;
  transform: rotate(-16deg);
}

.container {
  padding: 75px 0;
  margin: 0 auto;
  width: 1140px;

}

.gallery-wrap {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 85vh;
}

.item {
  flex: 1;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: none;
  transition: flex 1.0s ease;
  z-index: 2;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 30px 20px -20px, rgba(0, 0, 0, 0.45) 0px 30px 20px -20px;
  filter: grayscale(4);
}
.item:hover {
  flex: 7;
  filter: grayscale(0);
  height: 87vh;
  transform: translateY(-1vh);
  border-radius: 5px;
}

.item-1 {
  background-image: url("../IMG/ABRIL\ FINAL\ copy.jpg");
}
.item-1:hover {
  flex: 6;
}

.item-2 {
  background-image: url("../IMG/ANTARTICA.jpg");
}
.item-2:hover {
  flex: 17;
}

.item-3 {
  background-image: url("../IMG/FANTA.jpg");
}

.item-4 {
  background-image: url("../IMG/LAND2.jpg");
}
.item-4:hover {
  flex: 25;
  transition: flex 2.0s ease;
}

.item-5 {
  background-image: url("../IMG/PAGES\ copy.jpg");
}
.item-5:hover {
  flex: 50;
  transition: flex 3.0s ease;
}
.item-6 {
  background-image: url("../IMG/Post001\ copy.jpeg");
}



.box.type-1{
position: relative;
}

.box.type-1 img {
    position: absolute;
    width: 1467px;
    right: -156px;
    top: -170px;
    z-index: 0;
}