.sobre {
    background-color: #0f151d;
    height: 900px;
    width: auto;
    color: #ffffff;
    display: flex;
    justify-content: center;
    font-weight: 200;
  }
  
  .h1About {
    position: relative;
  }
  
  .h1About h1 {
    position: absolute;
    width: 295px;
    height: 81px;
    left: 680px;
    top: 120px;
    font-weight: 900;
    font-size: 95px;
    line-height: 90%;
    letter-spacing: -0.155em;
    color: #16213c;
    transform: rotate(90.13deg);
  }
  
  .base {
    width: 300px;
    height: 600px;
    background-color: #16213c;
    padding: 40px;
    padding-top: 80px;
    margin-top: 15px;
    margin-left: 390px;
    clip-path: polygon(0 15%, 100% 0, 100% 85%, 0% 100%);
  }
  
  .base p {
    transform: skewY(-15deg);
    line-height: 22pt;
    font-size: 15px;
  }
  
  .box.type-2 {
    position: relative;
  }
  
  .box.type-2 img {
    position: absolute;
    width: 700px;
    right: -340px;
    top: 135px;
  }
  

  
  