* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Pluto";
  scroll-behavior: smooth;
}


header {
  padding-top: 60px;
  color: aliceblue;
  font-size: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-right: 600px;
}

header .logo {
  /* Juste da logo */
  margin-right: 40px;
}

header a {
  /* Cor forma e espaço do MENU */
  color: aliceblue;
  font-weight: 200;
  margin: 5px;
}

header a:hover {
  color: #ffa200;
}

.barraSeparadora {
  /* Barra que separa o MENU */
  color: rgb(210, 153, 30);
  font-weight: 200;
  font-size: 25px;
}










.box.type-1 {

}

.box.type-2 {

}

.box.type-3 {

}

.box.type-1 {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease, transform 1s ease;
}

.box.type-1-show {
  opacity: 1;
  transform: translateY(0);
}

.box.type-2 {
  opacity: 0;
  transform: translateX(-50px);
  transition: opacity 1s ease, transform 1s ease;
}


.box.type-2-show {
  opacity: 1;
  transform: translateY(0);
}


.box.type-3 {
  opacity: 0;
  transform: translateX(-50px);
  transition: opacity 1s ease, transform 1s ease;
}

.box.type-3-show {
  opacity: 1;
  transform: translateY(0);
}










footer{
  background-color: #0f151d;
  height: 200px;
  color: rgba(240, 248, 255, 0.541);
  padding-top: 30px;
  text-align: center;

}

footer h1{
  font-weight: 200;
  font-size: 25px;
}

options = {
  "outerStyle": "circle",
  "hoverEffect": "circle-move",
  "hoverItemMove": false,
  "defaultCursor": false,
  "outerWidth": 30,
  "outerHeight": 30
}
magicMouse(options);